*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 23px;
    color: #0062e4;
}
body{
    overflow-x: hidden;
    width: 100%;
    font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
.header{
    position: relative;
    top: 10px;
    height: 23vh;
    border-bottom: 1px solid grey;
}
.top-header{
    padding-left: 40px;
    display: flex;
    color: #0062e4;
    align-items: center;
    column-gap: 20px;
}
.top-header h1{
    font-size: 35px;
    font-weight: 700;
}
.btn{
    font-size: medium;
    padding: 10px 17px;
    color: #0062e4;
    border: 1px solid #0062e4;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}
.btn:hover{
    background-color: #0063e417;
}
.fa-chevron-down{
    font-size: medium;
    margin-left: 5px;
}

.top-header form input{
    width: 450px;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(207, 207, 207);
}
.fa-magnifying-glass{
    font-size: 19px;
    border-radius: 50%;
    color: #fff;
    background-color: #0062e4;
    text-align: center;
    padding: 5px;
}
.nav{
    position: absolute;
    bottom: 10px;
    padding-left: 40px;
}
.nav ul{
    display: flex;
    column-gap: 45px;

}
.nav ul li{
    cursor: pointer;
    position: relative;
    transition: all .5s ease-in-out;
}
.nav ul li:hover{
    color: #0062e4;
}
.nav ul li::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #0062e4;
    bottom: -5px;
    border-radius: 40px;
    transition: all .5s ease-in 500ms;
    transform: translateY(-20px);
    opacity: 0;
}
.nav ul li:hover:after{
    opacity: 1;
    transform: translateY(0);
}
.main-body{
    margin-top: 50px;
    padding-left: 20px;

}
.main-body p:first-child{
    padding-left: 30px;
    color: grey;
    cursor: pointer;
    display: inline;
}
.main-body p:hover{
    color:#000;
    border-bottom: 1px solid #000;
}
